
<mat-sidenav-container class="h-screen">
  <!-- Sidebar -->
  <mat-sidenav 
    #sidenav 
    class="!w-64 text-white "
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
  >
    <app-sidebar />
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content class="!bg-[#f4f6f8]">
    <app-header (toggleSidenav)="toggleSidebar()" />

    <div class="p-4 text-gray-800">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

  